# ********** User-Defined **********

build/
libhs_highapi/lib

examples/misc/*
!examples/misc/README.md
examples/graphs/*
!examples/graphs/README.md

.vscode/*

# ********** C++.gitignore **********

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
